################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetChallenge/obj
/DotNetChallenge/DotNetChallenge.csproj.user
/DotNetChallenge/bin/Debug/net8.0
/DotNetChallenge/.env
